@charset "UTF-8";
#main_wrap {
	width: 1600px;
	height: 850px;
	background-image : url("../../img/main_wraper.png");
	margin : 60px 35px;
}

#wrap {
	width: 1300px;
	height: 700px;
	margin : 0 0 0 130px;
}

#wrap #info {
	width : 1300px;
	padding-top : 50px;
}

#wrap #info table {
	width: 600px;
	margin: 50px auto;
	text-align: center;
}
#wrap #info table td {
	height: 50px;
	text-align: left;
}
input:not(.btn) {
	width: 70%;
	height: 90%;
	border: none;
	border-bottom: 1px solid lightgray;
	border-radius: 10px;
	font-size: 1.2em;
}
.mmotto {
	width: 70%;
	font-size: 1.5em;
	resize: none;
}

.btn {
	width: 100px;
	border: none;
	height: 30px;;
	border-radius: 10px;
	background-color: #03045E;
	color: white;
	margin-left: 5px;
	font-size : 1.1em;
	font-weight : bold;
}

.btn_wrap {
	width : 600px;
	margin : 0 auto;
}
