@charset "UTF-8";

*{
	margin:0;
	padding:0;
	
}

#main_wrap{
	margin : 60px 35px;
	
	/* 크기 */
	width : 1600px;
	height : 850px;
	
	/* 이미지 */
	background-image: url("../../img/index1_notbutton.png");
	
	/* header 붙이기 */
	overflow: hidden;
	background-image: url( "../../img/main_wraper.png" );
	background-repeat: no-repeat;
	
}

#main_wrap #wrap{
	width:100%;
	height:100%;
}
#main_wrap #wrap h1{
	width:20%;
	position: relative;
	left:15%;
	top:8%;

}
#main_wrap #wrap hr{
	margin-top:10px;
	width:53%;
	height:0.5%;
	position: relative;
	left:33%;
	top:3.95%;
	background-color:#2e75b6;

}
#main_wrap #wrap button {
	width:50px;
	height:50px;
	outline:none;
	background-color: #ffffff;
	position: relative;
	left:83%;
	top:8%;
	border: none;
	
}


.menu_img {
	width:50px;
	height:50px;
	
	
}
#main_wrap #wrap #allList .rlist{
	width:18%;
	float: left;
	heihgt:342px;
	padding : 0 50px;
	text-align: center;
	position: relative;
	left:14%;
	margin-top:5%;
	
}
#main_wrap #wrap #allList .rlist .info{
	width:50%;
	text-align: center;
	position: relative;
	
	margin:0 auto;
	
	
}
#main_wrap #wrap #allList .rlist img{
	width:240px;
	
	margin-bottom:5%;
	
}
#main_wrap #wrap #allList .nolist{
	width:18%;
	float: left;
	heihgt:342px;
	padding : 0 50px;
	text-align: center;
	position: relative;
	left:40%;
	margin-top:5%;
}
#main_wrap #wrap #paging{
	clear:both;
	width:10%;
	margin:0 auto;
	height:30px;
	position: relative;
	top:50px;
	left:30px;
	
}
#main_wrap #wrap #search{
	clear:both;
	width:50%;
	margin:0 auto;
	height:50px;
	position: relative;
	top:90px;
	left:30px;
	text-align: center;
	
}

#main_wrap #wrap #search input{
	width:30%;
	height:20%:
	
	
}
#main_wrap #wrap #search select{
	width:20%;
	
}

#main_wrap #wrap #search .btn_s{
	width:20%;
	border:none;
	outline: none;
	height:30px;
	background-color:#2e75b6;
	color:#ffffff;
	
}

#main_wrap #wrap a{
	text-decoration: none;
	font-size: 1.05em;
	color: #000000;
	
}