@charset "UTF-8";
#header{
	/* 위치 */
	top : 90px;
	left : 1581.4px;
	position: absolute;
}

#header a{
	/* 위치 */
	margin : 10px 0;
	
	/* 크기 */
	width : 145px;
	height : 40px;

	/* 속성 */
	display: block;
	
	/* 글씨 */
	font-size : 17px;
	font-weight : bold;
	
	
	/* 디자인 */
	color : black;
	text-align: center;
	line-height : 40px;
	text-decoration : none;
	background-color: #BDCDE4;
	box-shadow: rgba(0, 0, 0, 0.15) 2.4px 2.4px 3.2px;
}

#header a:hover {
	/* 디자인 */
	color : white;
	background-color: #03045E;
}
#header .nowIndex{
	/* 위치 */
	margin : 10px 0 10px -23px;
	
	/* 크기 */
	width : 170px;
	height : 40px;
	
	/* 디자인 */
	color : white;
	background-color: #03045E;
}