@charset "UTF-8";
* {
	margin: 0;
	padding: 0;
}
div.wrap{
	border:1px solid black;
	margin: 0 auto;
	width:1100px;
	height: 600px;
}

div#myTeamDetailHeader{
	overflow: hidden;
}
div.myTeamDetail{
	float: left;
	width:550px;
	height: 80px;
}
div.myTeamDetail table{
	padding:10px 40px 10px 60px;
	text-align: left;
}
div.myTeamApplyList{
	float:left;
	width:500px;
	height: 80px;
	line-height: 80px;
	padding-right:40px;
	text-align: right;
	text-decoration: none;
}

div#myTeamDetailMain{
	height:510px;
	clear:both;
	overflow: hidden;
}
div.myTeamMontly{
	float: left;
	width:650px;
	height: 430px;
	margin: 10px 20px 10px 40px;
	padding:10px 20px;
	border: 2px solid black;
	border-radius: 15px;
}
div.myTeamMontly table th{
	border-bottom: 1px solid black;
}
div.myTeamMontly table td {
	width: 100px;
	height: 60px;
	line-height: 60px;
	text-align: center;
}
div.myTeamMontly table td h3{
	border-radius: 15px;
}
div#teamTodo_list_wrap{
	float:left;
	width:260px;
	height: 450px;
	padding-left:20px;
	margin: 10px 20px;
}
div.teamTodo_list_header {
	width:260px;
	height:20px;
	padding: 10px 0;
	text-align: center;
	font-size:bold;
	border:2px solid black;
	border-bottom:none;
	border-radius: 15px 15px 0 0;
	background-color:#EEEEEE;
}
div#teamTodo_list{
	width:260px;
	height:400px;
	border:2px solid black;
	border-radius: 0 0 15px 15px;
}
div#teamTodo_list div.team_todo{
	padding:10px;
}
div.myTeamMontly table tr td h3:hover,
div#teamTodo_list div.team_todo:hover{
	background-color:#EEEEEE;
}
div#todoList_btn{
	text-align: right;
	padding-right:5px;
}
div#teamTodo_make {
	text-align: center;
}