@charset "UTF-8";
*{
	margin:0;
	padding:0;
}
div.wrap{
	border:1px solid black;
	width : 1600px;
	height : 850px;
	margin:60px auto;
}
div.myTeamDetail{
	border: 2px solid black;
	border-radius: 15px;
	width:350px;
	height: 500px;
	margin:150px auto;
}
div.myTeamDetail table.myTeamDetail{
	border:1px solid blue;
	width:350px;
	text-align: center;
}
div.myTeamDetail table.myTeamDetail tr th,
div.myTeamDetail table.myTeamDetail tr td{
	border-bottom: 1px solid black;
}
div.myTeamDetail table.myTeamDetail tr th{
	width: 100px;
	padding: 10px;
}
div.myTeamDetail table.myTeamDetail tr td{
	padding: 10px;
}
div.myTeamDetail table.myTeamDetail tr:first-child td{
	border-bottom: 2px solid black;
	border-radius: 10px 10px 0 0;
	padding: 10px;
	background-color: #EEEEEE;
}

button.btn{
	border: none;
	background-color: white;
}
button.btn:hover {
	border-bottom: 1px solid black;
}