@charset "UTF-8";

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
	font-size: 1.2em;
	font-weight: bold;
	margin: 20px 0;
}

#main_wrap {
	width: 1600px;
	height: 850px;
	margin: 60px 35px;
	background-image: url("../../img/main_wraper.png");
}

#wrap {
	width: 1300px;
	margin: 0 0 0 130px;
	overflow : hidden;
}

#noticeList {
	padding-top : 20px;
	float : left;
}

#noticeList table {
	border-collapse: collapse;
	font-size: 1.2em;
	text-align : center;
}

#noticeList table caption {
	text-align: left;
}

#noticeList table .title {
	padding-left: 10px;
	text-align: left;
}

#noticeList table th {
	background-color: #DFF6FF;
}

#noticeList table tr {
	height: 50px;
}

#noticeList table .bottom {
	background-color: #DFF6FF;
	height: 20px;
}

.paging {
	font-size: 1.2em;
	margin : 30px 0 0 200px;
}

#sub_nav {
	float : left;
	margin : 80px 0 0 150px;
}

#sub_nav a {
	font-size : 1.2em;
	font-weight : bold;
}