@charset "UTF-8";
#main_wrap {
	width: 1600px;
	height: 850px;
	margin: 60px 35px;
	background-image: url(../img/main_wraper.png);
}

#wrap {
	width: 1300px;
	height: 700px;
	text-align: center;
	margin : 0 auto;
	position : relative;
	padding-top : 80px;
}

#wrap #findList {
	width : 1300px;
	height : 700px;
	border : 1px solid #03045E;
	border-radius : 15px;
}

#wrap input {
	width : 300px;
	height : 50px;
	font-size : 1.2em;
	margin-top : 50px;
}
#wrap table {
	width : 600px;
	margin : 50px auto;
	font-size: 1.2em;
}

#wrap table td {
	height: 50px;
}
button {
	width : 50%;
	height : 90%;
	font-weight : bold;
	color : white;
	background-color : #03045E;
	border : none;
	border-radius : 15px;
}

#wrap #findResult {
	height : 600px;
	overflow : auto;
}