@charset "UTF-8";

*{
	margin:0;
	paddin:0;
	
}

#wrap{
	width:100%;
	height:100%;
	
}

#wrap #timetable{
	
}

#wrap #timetable h1{
	position: relative;
	left: 2%;
}

#wrap #timetable #do{
	float:left;
	width:20%;
	height:300px;
	text-align:center;
	border: 1px solid black;

}