@charset "UTF-8";

a {
	text-decoration: none;
	color: black;
}

li {
	list-style: none;
	font-size: 1.2em;
	font-weight: bold;
	margin: 20px 0;
}

#main_wrap {
	width: 1600px;
	height: 850px;
	margin: 60px 35px;
	background-image: url("../../img/main_wraper.png");
}

#wrap {
	width: 1000px;
	height: 600px;
	margin: 0 0 0 130px;
}

#qnaList {
	padding-top : 20px;
}

#qnaList table {
	border-collapse: collapse;
	font-size: 1.2em;
	text-align : center;
}

#qnaList table caption {
	text-align: left;
}

#qnaList table th {
	background-color: #DFF6FF;
}

#qnaList table .title {
	padding-left: 10px;
	text-align: left;
}

#qnaList table tr {
	height: 50px;
}

#qnaList table .bottom {
	background-color: #DFF6FF;
	height: 20px;
}

.paging {
	margin: 30px 0 0 200px;
	font-size: 1.2em;
}

#sub_nav {
	position: absolute;
	top: 100px;
	right: 300px;
}